<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Загрузка файлов</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        h1 {
            text-align: center;
            color: #333;
        }

        form {
            text-align: center;
        }

        input[type="file"] {
            margin: 10px 0;
        }

        input[type="password"] {
            margin: 10px 0;
            padding: 5px;
        }
    </style>
</head>
<body>
    <h1>Загрузка файлов</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <input type="password" name="pass" placeholder="Пароль" required>
        <input type="submit" value="Загрузить">
    </form>
</body>
</html>