body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    text-align: center;
}

input[type="file"] {
    margin: 10px 0;
}

input[type="password"] {
    margin: 10px 0;
    padding: 5px;
}

.card {
    background-color: #f4f4f4;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #888888;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}