<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/main.css" rel="stylesheet">
    <title>Школа | Новости</title>
</head>
<body>
    <header>
        <div id = "menu">
            <div id="branding">
                <h1><a href="/"></a>Школа | Новости</a></h1>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Вернуться на главную</a></li>
                </ul>
            </nav>
        </div>
        <div id = "heading">
            <h1>Добавить запись</h1>
        </div>
    </header>
    <form action="/add" method="post">
        <input type="text" name="title" style="width:502px; height:30px;" placeholder="Введите название новости">
        <br></br>
        <input type="text" name="content" style="width: 1024px; height: 60px;" placeholder="Введите описание новости">
        <br></br>
        <input type="submit" value="Добавить">
    </form>

</body>
</html>