<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Выбор листа</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>{{ name }}</h1>
    <div class = "content">
    <a href="/">Вернуться к списку файлов</a>
    {% for item in sheet_names %}
        <div>
            <a href="/sheet/{{name}}/{{item}}" class="btn">{{item}}</a>
        </div>
    {% endfor %}
    </div>
</body>
</html>