<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/main.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div id = "menu">
            <div id="branding">
                <h1><a href="/"></a>Школа | Новости</a></h1>
            </div>
            <nav>
                <ul>
                    <li><a href="/add">Добавить запись</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div id="heading">
        <h1>Лента новостей</h1>
    </div>
    <div class="main">
        {%for i in posts%}
            <div class = "container">
                <h2><a href="/news/{{i.id}}">{{i.title}}</a></h2>
                <p>{{i.content}}</p>
                <a href="/delete/{{i.id}}" id="delete">Удалить</a>
            </div>
        {%endfor%}
    </div>
</body>
</html>