<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/main.css">
    <title>{{i.id}}</title>
</head>
<body>
    <header>
        <div id = "menu"> 
            <h1><a href="/"></a>Школа | Новости</a></h1> 
        </div>
    </header>
        <h1 id="heading">Лента новостей</h1>
        <div class = "container">
            <h2>{{i.title}}</h2>
            <p>{{i.content}}</p>
        </div>
</body>
</html>