<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>{{ name }}</h1>
        <a href="/file/{{name}}">Вернуться к списку листов</a>
        <div class="products-cards">
            {% for item in products %}
            <div class="product-card">
                <h2>{{ item.title }}</h2>
                <p class="content">{{ item.price }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
